.product-list {
    display: flex;
    flex-flow: column;
}

.product-list__carousel {
    position: relative;
    display: none;
    height: 300px;
    margin-bottom: -6px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 5px;
    background-color: white;
}

.product-list__carousel-container {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x;
}

.product-list__carousel-container > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    scroll-snap-align: start;
}

.product-list__carousel-close-btn {
    position: absolute;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: red;
    opacity: 0.8;
    right: 20px;
    top: 20px;
}

.product-list__list-item {
    visibility: hidden;
    display: flex;
    flex-flow: row nowrap;
    height: 20vh;
    margin-bottom: 12px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 14px 10px 10px;
    background-color: white;
}

.product-list__image-container {
    max-height: 100%;
    position: relative;
}

.product-list__image-container > i {
    display: none;
}

.product-list__image-container:hover > i {
    cursor: pointer;
    display: block;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    z-index: 1;
    color: #f38400;
}


.product-list__image-container > img {
    height: 100%;
    max-width: 180px;
    object-fit: contain;
}

.product-list__content-container {
    display: flex;
    flex-flow: column nowrap;
    padding: 15px 10px;
    max-width: 70%;
    flex-grow: 4;
}

.product-list__content-header {
    font-size: 26px;
}

.product-list__content-description {
    position: relative;
    margin-top: 12px;
    width: 100%;
    height: 100%;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-list__content-description:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 75px, white);
}

.product-list__buy-container {
    display: flex;
    text-align: right;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 20px 10px 10px 5px;
}

.product-list__buy-price {
    text-align: right;
    font-size: 24px;
}

.product-list__buy-to-cart {
    align-self: flex-end;
    width: 100px;
}

.product-list__buy-to-cart-btn {
    padding: 10px 16px;
    border: 0px;
    border-radius: 5px;
    background-color: $buy-to-cart-btn;
    color: white;
    transition: background 0.5s ease-in-out;
}

.product-list__buy-to-cart-btn:hover {
    cursor: pointer;
    background-color: $buy-to-cart-btn--hover;
}
