@page "/search/{searchSentence}"
@using System.Web;
@inject IStringLocalizer<App> Localizer
@inject IProductDataService productDataService


<div class="ui grid">
    <div class="sixteen wide column">
        @if (products is not null && products.Any())
        {
            <ProductListComponent Products="@products" />
        }
        else if (products is not null && !products.Any())
        {
            <h2>@Localizer["Sorry, but nothing was found"]</h2>
        }
        else
        {
            <h2>@Localizer["Please wait, search in progress"]...</h2>
        }

    </div>
</div>

@code {
    [Parameter]
    public string SearchSentence { get; set; }

    private List<ProductModel> products;

    protected override async Task OnParametersSetAsync()
    {
        string decodedUrlString = HttpUtility.UrlDecode(SearchSentence);
        products = await productDataService.SearchProducts(decodedUrlString, 10);
    }
}
