@inject IStringLocalizer<App> Localizer


<div class="ui small breadcrumb breadcrumb__container">
    <a class="section" href="/">@Localizer["Home"]</a>
    <i class="right chevron icon divider"></i>
    <a class="section">Регистрация</a>
    <i class="right chevron icon divider"></i>
    <div class="active section">Personal Information</div>
</div>

@code {

}
