@inject ICategorySqlDataService categoryDataAccess
<ul class="nav flex-column rounded bg-white">
    @if (categories is not null)
    {
        @foreach (CategoryModel category in categories)
        {
            var url = "products/" + category.Id.ToString();
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@url" Match="NavLinkMatch.All">
                    <span class="oi oi-plus" aria-hidden="true"></span> @category.CategoryName
                </NavLink>
            </li>
        }
    }
</ul>
@code {
    private List<CategoryModel> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await categoryDataAccess.GetAll();
    }
}
