@inject ICategorySqlDataService categoryDataAccess
<div class="ui vertical fluid tabular menu">
    @if (categories is not null)
    {
        @foreach (CategoryModel category in categories)
        {
            var url = "products/category/" + category.Id.ToString();
                <NavLink class="item" href="@url" Match="NavLinkMatch.All">
                    @category.CategoryName
                </NavLink>
        }
    }
</div>

@code {
    private List<CategoryModel> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await categoryDataAccess.GetAll();
    }
}
