@inject IStringLocalizer<App> Localizer

<div class="ui attached secondary inverted stackable small menu info__stripe">
    <div class="ui container">
        <a class="item" href="/">
            @Localizer["Home"]
        </a>
        <a class="item">
            @Localizer["Our shops"]
        </a>
        <a class="item">
            @Localizer["Contact phone"]: 888-999-000-111
        </a>
        <div class="right menu">
            <CultureSwitcher />
            <div class="item">
                <LoginDisplay />
            </div>
        </div>
    </div>
</div>
@code {

}
