@inject IStringLocalizer<App> Localizer

    <div class="ui orange mini secondary menu">
        <a class="item">
            @Localizer["Your location"]
        </a>
        <a class="item">
            @Localizer["Our shops"]
        </a>
        <a class="item">
            @Localizer["Contact phone"]: 888-999-000-111
        </a>
        <div class="right menu">
            <CultureSwitcher />
            <div class="item">
                <LoginDisplay />
            </div>
        </div>
    </div>
@code {

}
