@inject IStringLocalizer<App> Localizer

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-outline-info mr-2" href="Identity/Account/Register">
            <span class="oi oi-account-login" aria-hidden="true"></span> @Localizer["Register"]
        </a>
        <a class="btn btn-outline-primary" href="Identity/Account/Login">
            <span class="oi oi-account-login" aria-hidden="true"></span> @Localizer["Log in"]
        </a>
    </NotAuthorized>
</AuthorizeView>
