@inherits LayoutComponentBase
@inject IStringLocalizer<App> Localizer
@inject IJSRuntime JS

<InfoStripe />
<NavbarTop />
<div class="ui container main__container">
    <div class="ui grid">
        <div class="row">
            <div class="four wide column">
                <CategoryMenu />
            </div>
            <div class="twelve wide column">
                @Body
            </div>
        </div>
    </div>
</div>


@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("onBlazorReady");
        base.OnAfterRender(firstRender);
    }

}

