@inject IStringLocalizer<App> Localizer

<div class="ui attached stackable menu navbar-top">
    <div class="ui container">
        <div class="item">
            <img src="/img/logo.png">
        </div>
        <a class="item">
            @Localizer["Sales"]
        </a>
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="@Localizer["Search"]">
                <i class="search link icon"></i>
            </div>
        </div>
        <a class="right item" href="/cart">
            <i class="shopping cart icon"></i>
            @Localizer["Cart"]
        </a>
    </div>
</div>

@code {

}
