@if (CheckboxListItem is not null)
{
    <div class="list">
        @foreach (string name in CheckboxListItem.Names)
        {
            <div class="item">
                <div class="ui child checkbox">
                    <input type="checkbox" @onchange="async () => await ChangeCheckboxState(name)">
                    <label>@name</label>
                </div>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public CheckboxListType CheckboxListItem { get; set; }

    [Parameter]
    public String ComponentUniqueName { get; set; }

    [Parameter]
    public EventCallback OnChange { get; set; }

    private async Task ChangeCheckboxState(string name)
    {
        if (CheckboxListItem.ChangeCheckboxState(name))
        {
            await OnChange
            .InvokeAsync();
        }
    }
}
