@inject IStringLocalizer<App> Localizer
@inject IJSRuntime JSRuntime
@implements IAsyncDisposable
@implements IResetableComponent

<span class="ui orange rating"
      id="@ComponentUniqueName"
      data-icon="star"
      data-rating="@RatingItem.CurrentRating"
      data-max-rating="@RatingItem.UpperBound"></span>  @Localizer[Text]

@code {
    [CascadingParameter]
    public List<IResetableComponent> ChildComponentList { get; set; }

    [Parameter]
    public RatingType RatingItem { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public EventCallback OnChange { get; set; }

    [Parameter]
    public String ComponentUniqueName
    {
        get => _componentUniqueName; set
        {
            if (!String.IsNullOrWhiteSpace(value))
            {
                _componentUniqueName = value.ToLower();
            }
        }
    }
    private string _componentUniqueName = "";
    private IJSObjectReference module;
    private DotNetObjectReference<RatingComponent> thisObjRef;

    protected override void OnInitialized()
    {
        ChildComponentList.Add(this);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", JsInteropConstants.JsScriptFilePath);
            thisObjRef = DotNetObjectReference.Create(this);
            await module.InvokeVoidAsync(JsInteropConstants.InitRatingFilterFuncName, thisObjRef, ComponentUniqueName);
            await module.InvokeVoidAsync(JsInteropConstants.InitAccordionFuncName);
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }

    [JSInvokable]
    public async Task RatingChanged(int rating)
    {
        RatingItem.CurrentRating = rating;
        await OnChange.InvokeAsync();
        StateHasChanged();
    }

    public void Reset()
    {
        if (module is not null)
        {
            module.InvokeVoidAsync(JsInteropConstants.ResetRatingFuncName, ComponentUniqueName);
        }
    }
}
