<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TinyShop</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/semantic.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="ui attached secondary inverted stackable small menu info__stripe">
            <div class="ui container">
                <a class="item" href="/">
                    Home
                </a>
                <a class="item">
                    Our shops
                </a>
                <a class="item">
                    Contact phone: 888-999-000-111
                </a>
                <div class="right menu">
                    
                </div>
            </div>
        </div>
    </header>
        <main role="main" class="ui centered grid identity__main-container">
            @RenderBody()
        </main>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/semantic.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
