@page "/"

<section class="ui segment carousel-container">
    <!-- FolderWithPicturesPath is a path where each directory is comma separated --> 
    <CarouselComponent FolderWithPicturesPath="img,carousel"/>
</section>
<h2>@DateTime.Now.ToShortDateString()</h2>
<h2>@DateTime.Now.ToLongDateString()</h2>

@code {
    
}

