@page "/products/{categoryId:int}"
@inject IProductSqlDataService dataService

@if (products is not null)
{
    @foreach (ProductModel product in products)
    {
        var targetId = "carousel" + product.Id.ToString();
        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-2 p-3">
                            <div id="@targetId" class="carousel slide" data-bs-interval="false">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#@targetId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#@targetId" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#@targetId" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="https://c.dns-shop.ru/thumb/st1/fit/320/250/f6b172885b875667704cd5e81ddf1ae2/ee726604f2aba57d1902e154e3b11d59d300834ba9f3d0aa113c21dc161e112c.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://c.dns-shop.ru/thumb/st1/fit/320/250/e4a2ed063c363c4e683d425ceb644f13/12daf95484c07c66efc97e1078dfae7c89ccf8a0bf3d6c455fdd216350e9077b.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://c.dns-shop.ru/thumb/st1/fit/320/250/9e55a75f328b6d8c4dc6dadf5ccdc25b/65a873f6935be0201bb19c63b13ecf46b374982c1d03d78bf1dbc369a24841a3.jpg" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#@targetId" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#@targetId" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@product.ProductName</h5>
                                <p class="card-text">@product.Description</p>
                                <p class="card-text"><small class="text-muted">@product.Price</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

@code {
    [Parameter]
    public int CategoryId { get; set; }

    private List<ProductModel> products;

    protected override async Task OnParametersSetAsync()
    {
        products = await dataService.GetRangeByCategory(CategoryId, 0, 100);
    }
}
