@using TinyShop.Web.Services
@inherits LayoutComponentBase
@layout HeaderFooterLayout
@inject NavigationManager NavigationManager
@inject IStringLocalizer<App> Localizer

<div class="sexteen wide column">
    <Breadcrumb />
    @Body
</div>

