@using TinyShop.Web.CustomTypes
@using TinyShop.Web.Models
@implements IResetableComponent

@if (CheckboxModel is not null)
{
    <div class="ui relaxed list">
        @foreach (string name in CheckboxModel.ItemNames)
        {
            <div class="item">
                <div class="ui child checkbox">
                    <input type="checkbox" @onchange="async () => await ChangeCheckboxState(name)"
                         checked=@CheckboxModel.IsChecked(name)>
                    <label>@name</label>
                </div>
            </div>
        }
    </div>
}

@code {
    [CascadingParameter]
    public List<IResetableComponent> ChildComponentList { get; set; } = null!;

    [Parameter]
    public CheckboxModel? CheckboxModel { get; set; }

    [Parameter]
    public EventCallback OnChange { get; set; }


    protected override void OnInitialized()
    {
        ChildComponentList.Add(this);
    }


    private async Task ChangeCheckboxState(string name)
    {
        if (CheckboxModel is null) return;
        if (CheckboxModel.ChangeCheckboxState(name))
        {
            await OnChange
            .InvokeAsync();
        }
    }

    public void Reset()
    {
        CheckboxModel?.Reset();
        StateHasChanged();
    }
}
