@inherits LayoutComponentBase

<InfoStripe />
<NavbarTop />
<div class="main__wrapper">
    <div class="ui container main__container">
        <div class="ui grid">
            <div class="row">
                @Body
            </div>
        </div>
    </div>
</div>
