@inherits LayoutComponentBase
@inject IStringLocalizer<App> Localizer
@inject IJSRuntime JSRuntime 
<InfoStripe />
<NavbarTop />
<div class="main__wrapper">
    <div class="ui container main__container">
        <div class="ui grid">
            <div class="row">
                <div class="four wide column">
                    <CategoryMenu IsMenuOpened="true" />
                </div>
                <div class="twelve wide column">
                    @Body
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private IJSObjectReference module;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/scripts.js");
            await module.InvokeVoidAsync("initializeAccordion");
        }
    }
}

