@inherits LayoutComponentBase
@layout HeaderFooterLayout
@inject NavigationManager NavigationManager
@inject IStringLocalizer<App> Localizer
@using TinyShop.Helpers
@inject IUriUtils UriUtils 

<div class="sexteen wide column">
    <Breadcrumb />
    @Body
</div>

