@inherits LayoutComponentBase
@inject IStringLocalizer<App> Localizer
@inject IJSRuntime JS

<InfoStripe />
<NavbarTop />
<div class="main__wrapper">
    <div class="ui container main__container">
        @Body
    </div>
</div>

@code {

}

