@inherits LayoutComponentBase
@inject IStringLocalizer<App> Localizer

<InfoStripe />
<NavbarTop />
<div class="main__wrapper">
    <div class="ui container main__container">
        <Breadcrumb />
        @Body
    </div>
</div>

@code {

}

